public net.minecraft.world.item.CreativeModeTab$Output
public net.minecraft.world.item.CreativeModeTab$TabVisibility

# Internal neoforge
public net.neoforged.neoforge.event.BuildCreativeModeTabContentsEvent isParentTab(Lnet/minecraft/world/item/CreativeModeTab$TabVisibility;)Z
public net.neoforged.neoforge.event.BuildCreativeModeTabContentsEvent isSearchTab(Lnet/minecraft/world/item/CreativeModeTab$TabVisibility;)Z
public net.neoforged.neoforge.event.BuildCreativeModeTabContentsEvent parentEntries
public net.neoforged.neoforge.event.BuildCreativeModeTabContentsEvent searchEntries
